# Default environment variables
# Docker will inject these variables in the docker-compose file.
# These values will be overwritten if shell contains the same variables

# Database credentials
DB_USER=keycloak
DB_PASSWORD=keycloak

# Identity provider credentials
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=admin
KEYCLOAK_REALM=access
FRONTEND_REALM=access-frontend
AUTH_SERVER=http://keycloak:8080
JWK_URI=http://keycloak:8080/auth/realms/access/protocol/openid-connect/certs

# Mongo DB credentials
MONGO_DB_NAME=access
MONGO_DB_USER=mongo
MONGO_DB_PASSWORD=mongo

GITHUB_WEBHOOK_SECRET=secret
GITLAB_WEBHOOK_SECRET=secret

NGINX_CONF=conf.nginx

DOCKER_WORKER_HOST=host.docker.internal

BACKEND_TAG=v0.15.0
FRONTEND_TAG=v0.13.0