ACCESS_HOME=/home/info1-mngr/Infrastructure
BACKUPS_HOME=/home/info1-mngr/backup
# m h  dom mon dow   command

# Every 5 minutes create a backup but keep at most 12 backups -> keep 1 backup for every 5 minute for the last hour
*/5 * * * * cd $ACCESS_HOME && ./scripts/backup-mongo.sh mongo $BACKUPS_HOME/5mins >> ./backup-cron.log 2>&1
*/5 * * * * cd $ACCESS_HOME && ./scripts/cleanup-backups.sh $BACKUPS_HOME/5mins 12 >> ./backup-cron.log 2>&1

# Every 1 hour create a backup but keep at most 24 backups -> keep 1 backup per hour for the last 24 hours
0 */1 * * * cd $ACCESS_HOME && ./scripts/backup-mongo.sh mongo $BACKUPS_HOME/hourly >> ./backup-cron.log 2>&1
0 */1 * * * cd $ACCESS_HOME && ./scripts/cleanup-backups.sh $BACKUPS_HOME/hourly 24 >> ./backup-cron.log 2>&1

# Every 24 hour create a backup but keep at most 2 backups -> keep 1 backup per day for the last 3 days
0 0 */1 * * cd $ACCESS_HOME && ./scripts/backup-mongo.sh mongo $BACKUPS_HOME/daily >> ./backup-cron.log 2>&1
0 0 */1 * * cd $ACCESS_HOME && ./scripts/cleanup-backups.sh $BACKUPS_HOME/daily 3 >> ./backup-cron.log 2>&1

# Backup idp daily
0 4 * * * cd $ACCESS_HOME && ./scripts/backup-postgres.sh postgres $BACKUPS_HOME/idp >> ./backup-cron.log 2>&1
0 4 * * * cd $ACCESS_HOME && ./scripts/cleanup-backups.sh $BACKUPS_HOME/idp 5 >> ./backup-cron.log 2>&1