ACCESS_HOME=/home/info1-mngr/Infrastructure
# m h  dom mon dow   command

# Every 5 minutes create a backup but keep at most 12 backups -> keep 1 backup for every 5 minute for the last hour
*/5 * * * * cd $ACCESS_HOME && ./scripts/backup-mongo.sh mongo backup-tmp/5mins >> ./backup-cron.log 2>&1
*/5 * * * * cd $ACCESS_HOME && ./scripts/cleanup-backups.sh $ACCESS_HOME/backup-tmp/5mins 12 >> ./backup-cron.log 2>&1

# Every 1 hour create a backup but keep at most 24 backups -> keep 1 backup per hour for the last 24 hours
0 */1 * * * cd $ACCESS_HOME && ./scripts/backup-mongo.sh mongo backup-tmp/hourly >> ./backup-cron.log 2>&1
0 */1 * * * cd $ACCESS_HOME && ./scripts/cleanup-backups.sh $ACCESS_HOME/backup-tmp/hourly 24 >> ./backup-cron.log 2>&1

# Every 24 hour create a backup but keep at most 2 backups -> keep 1 backup per day for the last 3 days
0 0 */1 * * cd $ACCESS_HOME && ./scripts/backup-mongo.sh mongo backup-tmp/daily >> ./backup-cron.log 2>&1
0 0 */1 * * cd $ACCESS_HOME && ./scripts/cleanup-backups.sh $ACCESS_HOME/backup-tmp/daily 3 >> ./backup-cron.log 2>&1